<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: red">
      Weather Maribor
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="container">
    <ion-spinner name="circular" *ngIf="loading"></ion-spinner>
    <ion-card *ngIf="currentWeather">
      <ion-card-header>
        <!-- <app-weather-now [weather]="currentWeather"></app-weather-now> -->
        <ion-card-title >{{currentWeather.name}}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
